.buttons_form {
    display: flex;
    justify-content: space-between;
}

.errorlist {
    color: brown;
}

.error_message {
    color: brown;
}

.header-username{
    font-weight: 600;
}

label{
    margin-bottom: 5px;
}

.create__form{
    gap: 5px;
}

.user_event {
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
}
.heder_event {
    display: flex;
    justify-content: space-between;
}
.title_event {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}
#cancel_button {
    background-color: brown;
}
