{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Вход</title>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        Вход
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Имя пользователя:</label>
                <p style="color:red;">{{error}}</p>
                {{login_form.name}}
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                {{login_form.password}}
            </div>
            <div class="buttons_form">
                <a href="{% url 'register' %}" class="btn btn-primary">Регистрация</a>
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
  
