{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Публикации</title>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
{% if user_is_staff %}
    <div class="nav mb-2">
        <a href="{% url 'create_post' %}" class="btn btn-success">Создать</a>
    </div>
{% endif %}
<div class="card">
    <div class="card-header">
        Список публикаций
    </div>
    <div class="card-body">
        <ul class="list-group">
            {% for object in object_list %}
            <li class="row">
                <div class="col">
                    <img src="/{{object.image}}" alt="">
                </div>
                <div class="col-6">
                    <div>{{ object.name }}</div> 
                    <div>{{ object.description }}</div>
                    <div>
                        <a class="btn btn-primary ms-auto" aria-current="page" href="{% url 'detail_post' object.id %}">Подробнее</a>
                    </div>
                </div>
            </li>
            <hr/>
            {% empty %}
            <li>Список публикаций пуст.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}