{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Контактные данные</title>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
{% if user.is_staff %}
<div class="user_event">
    <a href="{% url 'profile_event_admin'%}">Редактировать мероприятия--➡️</a>
</div>

{% else %}
<div class="user_event">
    <a href="{% url 'profile_event'%}">Мои мероприятия--➡️</a>
</div>
{% endif %}
<div class="card">
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="success-message">{{ message }}</div>
    <script>
        setTimeout(function() {
            let successMessage = document.querySelector('.success-message');
            successMessage.style.display = 'none';
        }, 5000);
    </script>
    {% endif %}
    {% endfor %}
    <div class="card-header">
        Контактные данные пользователя
    </div>
    <div class="card-body">
        <form method="POST" class="create__form d-flex flex-column w-full" action="" novalidate>
            {% csrf_token %}
            {{edit_contact_data_form.as_p}}
            <button class="btn btn-primary" name="edit_contact_data">Изменить</button>
        </form>
    </div>
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="success-message">{{ message }}</div>
    <script>
        setTimeout(function() {
            let successMessage = document.querySelector('.success-message');
            successMessage.style.display = 'none';
        }, 5000);
    </script>
    {% endif %}
    {% endfor %}
    <div class="card-header">
        Изменить пароль пользователя
    </div>
    <div class="card-body">
        <form method="POST" class="create__form d-flex flex-column w-full" action="" novalidate>
            {% csrf_token %}
            {{change_pass_form.as_p}}
            <button class="btn btn-primary" name="change_password">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>