{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Вход</title>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
    
    <div class="card">
        <div class="card-header">
            Регистрация
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <p style="color:red;">{{error}}</p>
                    {{register_form}}
                </div>
                <div class="buttons_form">
                    <a href="{% url 'login' %}" class="btn btn-primary">⬅️Назад</a>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Подключение Bootstrap JS (необходимо для некоторых функций) -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> {% endcomment %}
{% endblock %}